{% extends '../index.html' %}

{% block titulo %}Editar categria{% endblock%}

{% block content %}
<h1 class="mt-4">Clasificación de productos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Editar Clasificación</li>
</ol>

<div class="container">
    <div class="card-header">Edición de clasificación</div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            {% include './form.html' %}
        </form>
    </div>
</div>
{% endblock %}