{% url 'login' as login %}  
{% url 'formLogin' as register %} 


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="https://mdbootstrap.com/img/Photos/Avatars/img (23).jpg" class="rounded shadow-1-strong me-2"
        height="35" alt="" loading="lazy" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'detailProduct' %}">
            <span class="fa-solid fa-house"></span>Inicio</a>
          </li>
        
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'productos_index' %}">
              <span class="fa-solid fa-cart-shopping"></span>Vender</a>
            </li>
            <li class="navbar-item">
              <a href="{% url 'logout' %}" class="nav-link" >
              <span class="fas fa-sign-in-alt"></span>Salir</a>
            </li>
          {%else%}
            <li class="nav-item {% if request.path == login %}active{% endif %}">
              <a class="nav-link" href="{{ login }}">
              <span class="fas fa-user"></span>Ingresar</a>
            </li>
          {%endif%}
            
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>

</div>