{% extends '../index.html' %}
{% block content %}
 <!-- Header-->
 <div class="container">
    <div class="bg-dark ">    
          <div class="text-center text-white">
              <h1 class="display-6 fw">{{titulo}}</h1>         
          </div>
      
  </div>
<!-- Section-->

<section class="album py-5 bg-light">
    <div class="container">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Productos disponibles</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5"></p>
            {% if productos|length > 0 %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    {% for producto in productos %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    <h3>{{producto.titulo}}</h3>
                                </div>
                               <div class="card-body">
                                 
                                    {% comment %} <img class="bd-placeholder-img card-img-top" width="100%" src="https://picsum.photos/id/{{ forloop.counter|add:500 }}/300/200" alt="{{producto.nombre}}"
                                    width="20%"> {% endcomment %}
                                    <img src="{{producto.foto.url}}" alt="{{producto.desc_producto}}" width="100%">
                                                                        
                                    <p class="card-text">{{producto.desc_producto}}</p>
                                    <small class="text-muted"> $ {{producto.precio}}</small>
                                    <div class="d-flex justify-content-between align-items-center">
                                      
                                       
                                    </div>
                                </div>
                                <div class="card-footer text-muted">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Comprar</button>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Compra</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Email:</label>
                                        <input type="text" class="form-control" id="recipient-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Producto:</label>
                                        <textarea class="form-control" id="message-text">{{producto.desc_producto}}</textarea>
                                    </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary">Aceptar</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="row justify-content-center">
                    <div class="col-4 text-center">
                        <div class="alert alert-warning" role="alert">
                            <p>No hay productos disponibles</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
    
</section>

<script>

 
    
    </script>

{% endblock %}